@import "tailwindcss";

/* --- color --- */
@theme {
  --color-pacific: #5C9EAD;
  --color-tangerine: #E39774;
  --color-slate-blue: #326273;
  --color-platinum: #EEEEEE;
}


@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    @apply bg-[#F8F9FA] text-[#326273] antialiased;
  }
}
.product-shadow {
  box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.05);
}

.product-shadow:hover {
  box-shadow: 0 20px 40px -10px rgba(92, 158, 173, 0.15);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5C9EAD;
}

/*animetion */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}